body{
    margin: 0;
    width: 100%;
    height: 105vh;
    text-align: center;

    background-color:  darkslategray ;
}
.behiand_name{
     margin-top: 5%;
    margin-left: 25%;
    width: 50%;

    font-size: 80px;
    color: goldenrod;
    font-family: cursive;
    

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
    background-color:  rgb(109, 67, 67);
    
}
.name{

   margin: 2%;
    width: 94%;

    font-size: 80px;
    color: goldenrod;
    font-family: cursive;

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
    background-color: darkslategray;
    
}

            /*    new        
.goldin_line1{
    position: absolute;
    top: 2.4%;
    left: 25%;
    width: 53%;

    
    height: 266px;

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
}
.goldin_line2{
    position: absolute;
    top: 3.2%;
    left: 26.5%;
    width: 49.6%;

    height: 235px;

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
}*/
hr{
    width: 60%;
    height: 2px;

    border-style: dashed;
    border-radius: 30%;
    border-color: goldenrod;

}
.main{

    width: 80%;
    height: 1200px;
    margin-top: 5%;
    margin-left: 10%;

    background-color:  darkslategray ;

    border:  1px black;
    border-radius: 10%;


}
.second_p{
    font-size: 40px;
    font-weight: bold;
    color: burlywood;
}
.content{

    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 80px;
    

    border: solid 3px burlywood;
    border-radius: 35% 0% 35% 0%;

    background-color: rgb(109, 67, 67);
    font-size: 40px;
    font-weight: bold;
    
}
.social1{
    margin-top: 100px;

    color: burlywood;
     text-decoration:none;
}
i{
    font-size: 25px;
  
}
a{
    text-decoration:none;
}
