body{
    margin: 0;
    width: 100%;
    height: 105vh;
    text-align: center;

    background-color:  darkslategray ;
}

.name{

    margin-top: 5%;
    margin-left: 25%;
    width: 50%;

    font-size: 70px;
    color: goldenrod;
    font-family: cursive;

    border: solid 15px rgb(109, 67, 67);
    border-radius: 47% 0% 47% 0%;
    background-color: darkslategray;
    
}

            /*    new          */
.goldin_line1{
    position: absolute;
    top: 50px;
    left: 242px;

    width: 520px;
    height: 260px;

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
}
.goldin_line2{
    position: absolute;
    top: 60px;
    left: 260px;

    width: 485px;
    height: 240px;

    border: solid 2px goldenrod;
    border-radius: 47% 0% 47% 0%;
}

.desian1{
    position: absolute;
    top: 280px;
    left: 280px;


    width: 180px;
    height: 8px;

    border: solid 1px goldenrod;
    border-radius: 15% 50% 50% 15%;
    background-color:  rgb(109, 67, 67) ;
}
.desian2{
    position: absolute;
    top: 81px;
    left: 550px;


    width: 180px;
    height: 8px;

    border: solid 1px goldenrod;
    border-radius: 50% 15% 15% 50%;
    background-color:  rgb(109, 67, 67) ;
}


.main{

    width: 80%;
    height: 1200px;
    margin-top: 5%;
    margin-left: 10%;

    background-color:  darkslategray ;

    border:  1px black;
    border-radius: 10%;


}
.second_p{
    font-size: 40px;
    font-weight: bold;
    color: burlywood;
}
.content{

    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 80px;
    

    border: solid 3px burlywood;
    border-radius: 35% 0% 35% 0%;

    background-color: rgb(109, 67, 67);
    font-size: 40px;
    font-weight: bold;
    
}
.social1{
    margin-top: 180px;

    color: burlywood;
}
i{
    font-size: 25px;
  
}
